@media only screen and (min-width: 45em) {
	header .logo img {
		width: auto;
	}
	header .social {
		position: relative;
		float: right;
	}

	/*---MAIN---*/
	/*---COLUMNS---*/
	main {
		.width6 {
			float: left;
			width: 6 / 12 * 100%;
		}
	}
}
